@use "../global-styles/variables.scss" as *;

.sections {
	display: flex;
	flex-direction: column;
	row-gap: calc(7 * $ru);
	align-items: center;
}

.section {
	&.one {
		padding-top: calc(5 * $ru);
		width: calc(100 * $ru);
	}
	&.two {
		padding-top: calc(2 * $ru);
		width: calc(100 * $ru);
		a {
			font-weight: 500;
		}
	}

	@media (max-width: 700px) {
		&.three {
			margin-bottom: calc(10 * $ru);
		}
	}

	&.three,
	&.four {
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;

		p {
			width: calc(100 * $ru);
			text-align: center;
		}

		.images {
			display: flex;
			flex-direction: row;
			column-gap: calc(6 * $wru);
			margin-top: calc(3 * $ru);

			.image {
				img {
					width: calc(28 * $wru);
				}

				p {
					width: calc(31 * $wru);
					font-size: calc(1.5 * $ru + 1 * $tru);
				}
			}
		}
	}

	&.five {
		width: calc(100 * $ru);

		h4 {
			margin-bottom: 0;
			font-size: calc(2.8 * $tru);
			font-weight: 400;
		}
	}

	&.six {
		text-align: center;
		a {
			text-decoration: none;
			color: $darkCyan;
			transition: color 0.2s ease-out;
		}
		a:hover {
			color: $cyan;
		}
	}

	h2,
	h3 {
		text-align: center;
	}
}

.divider {
	width: calc(10 * $ru);
}

@media (max-width: 500px) {
	.divider {
		margin: calc(10 * $ru);
	}
}
