@use '../global-styles/variables.scss' as *;

.sections {
  display: flex;
  flex-direction: column;
  row-gap: calc(7 * $ru);
  align-items: center;
}

.section {
  &.one {
    padding-top: calc(5 * $ru);
    width: calc(100 * $ru);
  }
  &.two {
    padding-top: calc(2 * $ru);
    width: calc(85 * $ru);
    
    p {
      position: relative;
      color: black;
    }
    
    ul {
      list-style-type: '• ';
    }
    
    li {
      position: relative;
      color: #707070;
      &.today, &.nextWeek, &.finalWeek {
          font-size: calc(3.2 * $tru);
          position: relative;
          color: black;
        }
        
        &.today::before {
            content: "Today! -> ";
        }
        &.nextWeek::before {
            content: "Next Market Day -> ";
        }
        &.finalWeek::before {
            content: "Last Market Day! -> ";
        }
        &.today::before, &.nextWeek::before, &.finalWeek::before {
            position: absolute;
            left: calc(-2 * $ru);
            top: 0;
            transform: translate(-100%, -90%);
            font-size: calc(2.7 * $tru);
        }
        &.today::before {
            transform: translate(-110%, 0%);
        }
        @media (max-width: 1500px) {
            &.nextWeek::before {
                width: calc(9 * $tru);
                transform: translate(-115%, -67%);
            }
            &.finalWeek::before {
                width: calc(9 * $tru);
                transform: translate(-115%, -67%);
            }
            //position: static
            
        }
    }
        
    
    .today ~ li, .nextWeek ~ li {
          color: #202020;
    }
  }

  &.three {
    padding-top: calc(2 * $ru);
    width: calc(60 * $ru);
  }

  &.four {
    h4 {
      text-align: center;
    }
  }

  h2,
  h3 {
    text-align: center;
  }
}

.divider {
  width: calc(10 * $ru);
}
