@use '../global-styles/variables.scss' as *;

.sections {
  display: flex;
  flex-direction: column;
  row-gap: calc(7 * $ru);
  align-items: center;
}

.section {
  &.one {
    padding-top: calc(5 * $ru);
    width: calc(100 * $ru);
  }
  &.two {
    padding-top: calc(2 * $ru);
    width: calc(85 * $ru);
    
    p {
        position: relative;
        color: #707070;
        
        &.desc {
          color: black;
        }
        
        &.today, &.nextWeek {
          font-size: calc(3.2 * $tru);
          position: relative;
          color: black;
        }
        
        &.today::before {
            content: "Today! -> ";
        }
        &.nextWeek::before {
            content: "Next Market Day -> ";
        }
        &.today::before, &.nextWeek::before {
            position: absolute;
            left: calc(-2 * $ru);
            transform: translateX(-100%);
            font-size: calc(2.7 * $tru);
        }
        @media (max-width: 1500px) {
            &.nextWeek::before {
                width: calc(13 * $ru);
                bottom: calc(0.5 * $tru);
                left: calc(0 * $ru);
            }
            //position: static
            
        }
    }
    
    .today ~ p, .nextWeek ~ p {
          color: #303030;
    }
  }

  &.three {
    padding-top: calc(2 * $ru);
    width: calc(60 * $ru);
  }

  &.four {
    h4 {
      text-align: center;
    }
  }

  h2,
  h3 {
    text-align: center;
  }
}

.divider {
  width: calc(10 * $ru);
}
