$ru: min(90vw, min(60vw + 300px, 1200px)) / 100;
$tru: min(90vw + 400px, min(60vw + 600px, 1200px)) / 100;
$wru: min(90vw, min(65vw + 400px, 1500px)) / 100;

$cyan: #4aa1b4;
$darkCyan: #407682;
$yellow: #ffb800;
$orange: #ff790f;
$yellow-orange: linear-gradient(307deg, #ffe296 19.41%, #ffc531 44.62%, #ff7218 80.42%, #ff6f31 97.77%);
$orange-red: linear-gradient(279deg, #ff8a00 -3.41%, #ff5e2b 102.35%);
$text-light: #f4f4f4;
$dark-background: #3c464f;
