@use "../../global-styles/variables.scss" as *;

.fadeIn {
	opacity: 0;
	animation: fadeIn 1s ease-in forwards;
}

@keyframes fadeIn {
	from {
		opacity: 0%;
	}
	to {
		opacity: 100%;
	}
}

.fadeOut {
	opacity: 100%;
	animation: fadeOut 1s ease-in forwards;
}

@keyframes fadeOut {
	from {
		opacity: 100%;
	}
	to {
		opacity: 0%;
	}
}

.banner {
	width: 90vw;
	padding: 0 5vw;
	background-color: #eeeeee;
	height: auto;
	padding-top: calc(0.5 * $ru);
	padding-bottom: calc(0.5 * $ru);
	margin-bottom: calc(1 * $ru);
	text-align: center;
	text-wrap: balance;
	font-size: calc(2 * $tru);

	&.regularLogo,
	&.bigLogo {
		transform: translateY(0);
		height: auto;
		margin-bottom: calc(1 * $ru);
	}

	&.miniLogo {
		transform: translateY(calc(-8 * $tru));
		height: 0;
		margin-bottom: 0;
	}

	&.toRegularLogo,
	&.toBigLogo {
		animation: slideInBanner 0.3s ease-out forwards;
	}

	&.toMiniLogo {
		animation: slideOutBanner 0.3s ease-out forwards;
	}

	@keyframes slideInBanner {
		to {
			transform: translateY(0);
			height: auto;
			margin-bottom: calc(1 * $ru);
		}
	}

	@keyframes slideOutBanner {
		to {
			transform: translateY(calc(-8 * $tru));
			height: 0;
			margin-bottom: 0;
		}
	}
}

.mhead {
	background-image: linear-gradient(165deg, $darkCyan, $cyan);
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

	.logo {
		height: calc(15 * $swru - 2.5vw);
		width: auto;
		margin: calc(2 * $tru) 0 calc(2 * $tru) max(calc(10vw - 100px), calc(2 * $tru));
	}

	nav {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-end;
		gap: calc(4 * $tru);

		width: 100%;
		margin-left: auto;
		margin-right: calc(4 * $tru);

		a {
			font-size: calc(3 * $tru);
			color: $text-light;

			&:hover,
			&.selectedTab {
				color: $lightCyan;
			}

			&.order {
				background-color: rgba(0, 0, 0, 0.15);
				padding: calc(0.75 * $tru) calc(1.5 * $tru);
				border-radius: calc(1.5 * $tru);
				border: rgba(255, 255, 255, 0.28) solid 2px;
				transition: background-color 0.2s ease-in-out;

				&:hover {
					background-color: rgba(0, 0, 0, 0.2);
					color: $text-light;
				}
				&.selectedTab {
					background-color: rgba(0, 0, 0, 0.2);
					color: $text-light;
				}
			}
		}

		.menu {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			cursor: pointer;
			position: relative;

			svg {
				width: calc(5 * $tru);
				height: calc(5 * $tru);

				path {
					stroke: $text-light;
				}
			}

			.background {
				position: fixed;
				top: 0;
				bottom: 0;
				width: 100%;
				right: 20%;
				background-image: linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.678));
				opacity: 1;
				transition: all 0.8s ease;
				z-index: 90;

				&.hidden {
					opacity: 0;
					right: -100%;
				}
			}

			.flyout {
				user-select: none;
				position: fixed;
				top: 0;
				bottom: 0;
				display: flex;
				flex-direction: column;
				align-items: center;
				background-color: $darkCyan;
				right: 0;
				transition: all 0.5s ease;
				gap: calc(4 * $tru);
				padding: calc(4 * $tru);
				z-index: 100;

				a {
					color: $text-light;
					width: min-content;
					text-align: center;
					font-size: calc(4 * $tru);
				}

				&.hidden {
					right: -100%;
				}

				svg {
					padding-bottom: calc(4 * $tru);
					width: calc(5 * $tru);
					height: calc(5 * $tru);
				}
			}
		}

		@media (max-width: 1399px) {
			.desktop {
				display: none;
			}
		}

		@media (min-width: 1400px) {
			.mobile {
				display: none;
			}
		}
	}
}
